# System files
.DS_Store
Thumbs.db
desktop.ini

# ID/Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local user data and temporary folders
chrome_user_data/
assets/real_stars/

# Generated build directories
/www/
android/.gradle/
android/app/build/
android/local.properties
.gradle/
build/

